@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta name="robots" content="noindex, nofollow">
    <title>Manage Posts,Categories and Tags</title>
    @*Jquery Library
    <script src="~/Scripts/jquery-1.8.2.js"></script>

    @*Jquery ui 
    <script src="~/Scripts/jquery-ui.js"></script>
    <link href="~/Content/themes/simple/jqueryuicustom/css/sunny/jquery-ui-1.9.2.custom.min.css" rel="stylesheet" />

    @*Jqgrid files
    <link href="~/Scripts/jqgrid/css/ui.jqgrid.css" rel="stylesheet" />
    <script src="~/Scripts/jqgrid/js/jquery.jqGrid.min.js"></script>
    <script src="~/Scripts/jqgrid/js/i18n/grid.locale-en.js"></script>

    @*tiny-mce editor
    <script src="~/Scripts/tiny_mce/tiny_mce.js"></script>

    @*Application Scripts
    <link href="~/Content/themes/simple/admin.css" rel="stylesheet" />
    <script src="~/Scripts/admin.js"></script>*@

    @System.Web.Optimization.Styles.Render("~/Content/themes/simple/jqueryuicustom/css/sunny/bundle", "~/Scripts/jqgrid/css/bundle", "~/Content/themes/simple/admin")
    @System.Web.Optimization.Scripts.Render("~/jquery", "~/jqueryui", "~/Scripts/tiny_mce/js", "~/manage/js")


</head>
<body>
    <!-- logout link -->
    <div style="text-align:right; margin-bottom:5px;">
        @Html.ActionLink("logout", "Logout")
    </div>
    <h2>Manage Posts, Categories and Tags</h2>
    <!--tabs Control-->
    <div id="tabs">
        <ul>
            <li><a href="#tabs-posts">Posts</a></li>
            <li><a href="#tabs-cats">Categories</a></li>
            <li><a href="#tabs-tags">Tags</a></li>
        </ul>
        <div id="tabs-pots">
            <table id="tablePosts" class="grid">
            </table>
            <div id="pagerPosts" class="pager"></div>
        </div>
        <div id="tabs-cats">
            <table id="tableCats" class="grid">
            </table>
            <div id="pagerCats" class="pager">
            </div>
        </div>
        <div id="tabs-tags">
            <table id="tableTags" class="grid">
            </table>
            <div id="pagerTags" class="pager"></div>
        </div>
    </div>
</body>
</html>
